.formulario {
    input {
        .btn-custom {
            &:hover {
                background-color: $colorTitulos1;
                color: $colorFondo;
                border-color: $colorTitulos1;
                }
            &:focus {
                background-color: $colorTitulos1;
                color: $colorFondo;
                border-color: $colorTitulos1;
                }
            &:active {
                background-color: $colorTitulos1;
                color: $colorFondo;
                border-color: $colorTitulos1;
                }
            }
        } 
}


 