.bodyIndex {
    background-image: url(../img/fondo1.jpeg);
    background-repeat: repeat-y;
    background-size: contain;
}

.mainIndex {
    min-height: 70vh;
    div {
        &:hover {
            transform: scale(1.5);
        }
        h1 {
            font-family: 'Montserrat', sans-serif !important;
            font-size: 100px;
            text-align: center;
            color: $colorFondo;
        }
    }
}

@media(max-width:575px) {
    .mainIndex {
        div {
            h1 {
                font-size: 50px;
            }
        }
    }
}


@media(min-width:576px) and (max-width:767px) {
    .mainIndex {
        div {
            h1 {
                font-size: 75px;
            }
        }
    }
}
