.bodyIndex {
    background-image: url(../img/fondo1.jpeg);
    background-repeat: repeat-y;
    background-size: contain;
}

.mainIndex {
    min-height: 70vh;
    div {
        &:hover {
            transform: scale(1.2);
        }
        img {
            height: 100px;
        }
    }
}

@media(max-width:575px) {
    .mainIndex {
        div {
            img {
                height: 65px;
            }

        }
    }
}

@media(min-width:576px) and (max-width:767px) {
    .mainIndex {
        div {
            img {
                height: 80px;
            }
        }
    }
}
