
nav {
    div {
        background-color: $colorNav;
        margin: 10px;
        border-radius: 30px;
    }
    ul {
        li {
            a {
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                p {
                    color: $colorFondo;
                    line-height: 23px;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
    }
}

.custom-toggler {
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &:active {
        outline: none;
        box-shadow: none;
    }
}

@media(min-width:992px) {
    nav {
        ul {
            li {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
} 