
.botonesC {
    background-color: $colorFondo;
    border-color: $colorFondo;
    box-shadow: none;
    &:hover {
        transform: scale(1.3);
        background-color: $colorFondo;
        border-color: $colorFondo;
    }
    &:active, &:focus {
        background-color: $colorTitulos1;
        border-color: $colorTitulos1;
        color: $colorFondo;
        box-shadow: none;
        outline: none;
    }
}

.tituloC {
    color: $colorFondo;
}

.subtituloC {
    color: $colorFondo;
}

.estiloC {
    background-color: $colorNav;
    border-color: $colorNav;
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.imagenC {
    border-radius: 25px;
}

.separadorT {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}