
// Averiguar cómo cambiar letra

.botonesC {
    background-color: map-get($tarjetas, $boton);
    border-color: map-get($tarjetas, $boton);
    &:hover {
        transform: scale(1.3);
        background-color: map-get($tarjetas, $boton);
        border-color: map-get($tarjetas, $boton);
    }
}

.tituloC {
    color: map-get($tarjetas, $subtitulo);
}

.subtituloC {
    color: map-get($tarjetas, $subtitulo);
}

.estiloC {
    background-color: map-get($tarjetas, $fondo);
    border-color: map-get($tarjetas, $fondo);
    color: map-get($tarjetas, $texto);
    border-radius: map-get($tarjetas, $radio);
    @include marginPadding(10px,10px);
}

.imagenC {
    border-radius: map-get($tarjetas, $radio);
}

.separadorT {
    @include marginPadding(0px,20px);
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
}