$colorFondo: rgb(204, 166, 116);
$colorNav: rgb(123, 93, 54);
$colorHAIM: rgb(123, 93, 54);
$colorTitulos1: rgb(59, 48, 31);

$tarjetas: (
    fondo: $colorNav,
    subtitulo: $colorFondo,
    texto: white,
    radio: 25px,
    boton: $colorFondo,
)
