.video {
    width: 60%;
    height: 400px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

@media(max-width:575px) {
    .video {
        height: auto;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .video {
        height: auto;
    }
}

