@import "_variables";
@import "_nav";
@import "_footer";
@import "_index";
@import "_tarjetas";


//No me deja usar mi letra

body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px 20px 0px 20px;
    background-color: $colorFondo;
    min-height: 100vh;
}

// @media(max-width:575px) {

// }

// @media(min-width:576px) and (max-width:767px) {

// }

// @media(min-width:768px) and (max-width:991px) {

// }

// @media(min-width:992px) {

// } 

