@import "_variables";
@import "_nav";
@import "_footer";
@import "_index";
@import "_tarjetas";
@import "_tabla";

body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px 20px 0px 20px;
    background-color: $colorFondo;
    min-height: 100vh;
}

h2 {
    padding: 15px;
}


