
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(204, 166, 116);
    min-height: 100vh;
}

.bodyIndex {
    background-image: url(../img/fondo1.jpeg);
    background-repeat: repeat-y;
    background-size: contain;
}

footer img {
    height: 35px;
    width: 35px;
}

.contenedorHeader {
    background-color: rgb(123, 93, 54);
    border-radius: 30px;
    margin: 15px;
}

.contenedorHeader--I {
    background-color: rgb(204, 166, 116);
}

.contenedorFooter {
    background-color: rgb(204, 166, 116);
    font-size: 12px;
    margin-top: 20px;
}

.menuOption a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(204, 166, 116);
    text-transform: uppercase;
    font-weight: bold;
}

.menuOptionI a {
    text-decoration: none;
    font-size: 16px;
    color:  rgb(123, 93, 54);
    text-transform: uppercase;
    font-weight: bold;
}

.titulo {
    font-size: 100px;
    text-align: center;
    color: rgb(123, 93, 54);
}

/* ----------------------------------------------------- */
h2 {
    text-align: center;
    color: rgb(59, 48, 31);
}

h3 {
    color: rgb(59, 48, 31);
}

h4 {
    color: rgb(59, 48, 31);
}

p {
    line-height: 1.5;
}

.tablaTickets {
    color: rgb(59, 48, 31);
}

.formContacto {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column; 
    justify-content: space-evenly;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 30px;
}

.pContacto {
    text-align: center;
}

/* ----------------------------------------------------- */
.bodyIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(200px,550px) 85px;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.contenedorHeader--I {
    grid-area: header;
}

.contenedorMainI {
    grid-area: main;
}

.contenedorFooter--I {
    grid-area: footer;
}

.contenedorBarraI {
    height: 50px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    align-items: center;
}

.contenedorBarra {
    height: 50px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(6, auto);
    justify-items: center;
    align-items: center;
}

.contenedorMainI {
    display: grid;
    justify-items: center;
    align-items: center;
}

.contenedorFooter {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: repeat(7, 1fr);
    justify-items: center;
}

.imagenesFooter {
    align-self: end;
}

@media screen and (min-width: 768px) {
    .bodyIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(200px,550px) 85px;
        grid-template-areas: "header"
                             "main"
                             "footer";
    }

    /* No sé cómo solucionar la visualización de la barra de navegación en 
    mobile */
    .contenedorBarra {
        height: 50px;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(6, auto);
        justify-items: center;
        align-items: center;
    }
}


/* Animaciones index */
.titulo:hover {
    transform: scale(1.5);
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* No me funcionó la aplicación de grid en discografia.html */

/* .bodyDiscografia {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto minmax(100px,auto) 85px;
    grid-template-areas: "headerD headerD headerD"
                         ". albumes ."
                         "album1 album2 album3"
                         "img1 img2 img3"
                         "p1 p2 p3"
                         ". colab ."
                         "col1 col2 col3"
                         "img4 img5 img6"
                         "p4 p5 p6"
                         ". sencillos ."
                         "sen1 sen2 sen3"
                         "img7 img8 img9"
                         "p7 p8 p9"
                         "footerD footerD footerD";
} 

.contenedorHeader--D {
    grid-area: headerD;
}

.albumes {
    grid-area: albumes;
}

.alb1 {
    grid-area: album1;
}

.alb2 {
    grid-area: album2;
}

.alb3 {
    grid-area: album3;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.colab {
    grid-area: colab;
}

.col1 {
    grid-area: col1;
}

.col2 {
    grid-area: col2;
}

.col3 {
    grid-area: col3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.p4 {
    grid-area: p4;
}

.p5 {
    grid-area: p5;
}

.p6 {
    grid-area: p6;
}

.sencillos {
    grid-area: sencillos;
}

.sen1 {
    grid-area: sen1;
}

.sen2 {
    grid-area: sen2;
}

.sen3 {
    grid-area: sen3;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
} 

.p7 {
    grid-area: p7;
}

.p8 {
    grid-area: p8;
}

.p9 {
    grid-area: p9;
}

.contenedorFooter--D {
    grid-area: footerD;
}  */

/* OTRAS PAGINAS */
/* Falta agregar grids a todas las páginas */